/* base.html */
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "メイリオ", "Meiryo", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "ＭＳ Ｐゴシック", sans-serif;

}

a {
    text-decoration: none;
}


header {
    height: 65px;
    width: 100%;
    background-color: rgb(31, 31, 31);
}

.logo {
    width: 124px;
    margin-top: 20px;
}

.header-left{
    float: left;
}

.header-right{
    float: right;
    margin-right: -25px;
}

.header-left a {
    line-height: 65px;
    padding: 0 25px;
    color: rgba(67, 221, 88, 0.85);
    display: block;
    float: left;
    transition: all 0.5s;
    font-weight: bolder;
}

/* board_list.html */

.list-wrapper {
    background-color: rgb(255, 255, 255);
    height: 1080px;
}

.btn-wrapper {
    background-color: rgb(255, 255, 255);
    height: 50px;
}

.btn-wrapper a {
    float: right;
    padding-top: 23px;
    padding-right: 5%;
    color: rgb(0, 0, 0);
    font-weight: 20px;
}

.content {
    background-color: rgb(255, 255, 255);
    height: 900px;
    margin: 0 5% ;
}

.boards {
    background-color: rgb(26, 121, 38);
    height: auto;
    height: 100px;
    margin-top: 18px;
    border-radius: 20px;
    color: white;
    display: flex;
}

.boards div {
    padding-top: 10px;
}

.board-user {
    width: 10%;
    padding-left: 2%;
}

.board-content {
    width: 90%;
    padding-right: 5%;
}

.board-user img {
    width: 40px;
    height: 40px;
    border-radius: 10px;
}

.board-user p {
    padding-top: 3px;
}

.board-content p {
    font-size: 13px;
}


/* user_home.html */
/* profile-wrapper */
.profile {
    display: flex;
    background-color: rgb(26, 121, 38);
}

.profile-img {
    width: 10%;
    padding: 10px 0 10px 30px;
}

.profile-comment{
    width: 90%;
    padding-top: 10px;
}

.profile-img img {
    border-radius: 20px;
    width: 90px;
    height: 90px;
}
/* status-wrapper */
.status-container {
    display: flex;
    background-color: rgb(26, 121, 38);
}

.status-container div {
    width: 25%;
    text-align: right;
    padding-right: 5%;
}

/* submission-wrapper */
.flex-submission {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    background-color: rgb(31, 31, 31);
    height: 1000px;
    padding-left:10%;
    padding-right: 10%;
}

.flex-contents {
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 40px;
}

.flex-contents img{
    width: 250px;
    height: 300px;
    border: solid 3px rgb(26, 121, 38);
}


/* subject_list.html */
.departments-wrapper {
    margin-left: 10%;
    margin-right: 10%;
    margin-top:30px;
}

.departments-content {
    margin-top: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    color:white;
    background: linear-gradient(#829ebc,#225588);
    border-left: 1px solid #3c6690;
    border-top: 1px solid #3c6690;
    border-bottom: 1px solid #3c6690;
    box-shadow: 0px 1px 1px rgba(255,255,255,0.3) inset;
    width: 100%;
    padding: 10px 0;
}

.department {
    font-size:25px;
}

.departments-content a {
    color: rgb(177, 243, 174);
    padding: 0 10px;
}


/* lecture_list.html */
.search-wrapper {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 30px;
}

.lecture-wrapper {
    margin-left: 10%;
    margin-right: 5%;
    margin-top: 30px;
}

table{
  width: 100%;
  border-collapse:separate;
  border-spacing: 0;
}

table th:first-child{
  border-radius: 5px 0 0 0;
}

table th:last-child{
  border-radius: 0 5px 0 0;
  border-right: 1px solid #3c6690;
}

table th{
  text-align: center;
  color:white;
  background: linear-gradient(#829ebc,#225588);
  border-left: 1px solid #3c6690;
  border-top: 1px solid #3c6690;
  border-bottom: 1px solid #3c6690;
  box-shadow: 0px 1px 1px rgba(255,255,255,0.3) inset;
  width: 25%;
  padding: 10px 0;
}

table td{
  text-align: center;
  border-left: 1px solid #a8b7c5;
  border-bottom: 1px solid #a8b7c5;
  border-top:none;
  box-shadow: 0px -3px 5px 1px #eee inset;
  width: 25%;
  padding: 10px 0;
}

table td:last-child{
  border-right: 1px solid #a8b7c5;
}

table tr:last-child td:first-child {
  border-radius: 0 0 0 5px;
}

table tr:last-child td:last-child {
  border-radius: 0 0 5px 0;
}

/* question_list.html */
